:root {
    --global-font: 'Lato', sans-serif;
    --global-color-1: #1e3668;
    --global-color-2: #111827;
    --global-color-3: #273657;
    --global-lm-color-1: #909399;
    --global-lm-font-color: #000000;
}


html * {
    font-family: var(--global-font);
    background-color: var(--global-color-3);
    color: white;
}

body {
    transition: background-color 0.2s;
    padding: 20px;
}


body.dark-mode {
    background-color: var(--global-lm-color-1);
    color: var(--global-lm-font-color);
}


form {
    background-color: var(--global-color-2);
    padding: 20px;
    border-radius: 10px;
    border-color: var(--global-lm-color-1);
    border-style: solid;
}

form.dark-mode {
    background-color: var(--global-lm-color-1);
    color: var(--global-lm-font-color);
    border-color: var(--global-color-3);
    border-style: solid;
}





header {
    background-color: var(--global-color-2);
    border-color: var(--global-color-3);
    border-style: solid;
}

header.dark-mode {
    background-color: var(--global-lm-color-1);
    color: var(--global-lm-font-color);
    border-color: var(--global-lm-color-3);
    border-style: solid;
}





section {
    background-color: var(--global-color-2);
    border-color: var(--global-color-3);
    border-style: solid;
}

section.dark-mode {
    background-color: var(--global-lm-color-1);
    color: var(--global-lm-font-color);
    border-color: var(--global-color-3);
    border-style: solid;
}







h1 {
    background-color: var(--global-color-1);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}


.p {
    font-family: var(--global-font);
    color:blue;
}


.navbar {
    background-color: var(--global-color-2); 
    padding: 10px; 
    font-family: var(--global-font); 
}

.navbar.dark-mode {
    background-color: #c5c5c5;
    color: #000000;
}

.navbar ul {
    list-style-type: none; 
    background-color: var(--global-color-2);
    margin: 0;
    padding: 0;
}

.navbar ul.dark-mode {
    background-color: #c5c5c5;
    color: #000000;
}

.navbar li {
    display: inline-block; 
    margin-right: 10px; 
    background-color: var(--global-color-3);
}

.navbar li.dark-mode {
    background-color: #c5c5c5;
    color: #000000;
}

.navbar a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    background-color: var(--global-color-1);
    border-radius: 10px;
}

.navbar a.dark-mode {
    background-color: #c5c5c5;
    color: #000000;
}


.dropdown {
    display: inline-block;
    background-color: var(--global-color-2);
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
}

.dropdown.dark-mode {
    background-color: #c5c5c5;
    color: #000000;
}

.dropdown :hover {
    background-color: #374151;
}
.button-40 {
  background-color: var(--global-color-2);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  border-color: #c5c5c5;
  border-style: solid;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

.label-style {
    background-color: var(--global-color-2);
    border-radius: 10px;
    padding: 5px;
}

.label-style.dark-mode {
    background-color: #c5c5c5;
    color: #000000;
}