:root {
    --global-font: 'Lato', sans-serif;
    --global-font-color: #FFFFFF;
    --global-color-1: #1e3668;
    --global-color-2: #111827;
    --global-color-3: #273657;
}


html * {
    font-family: var(--global-font);
    background-color: var(--global-color-3);
    color: var(--global-font-color);
}

body {
    transition: background-color 0.2s;
    padding: 20px;
    margin: auto;
}


form {
    background-color: var(--global-color-2);
    padding: 20px;
    border-radius: 10px;
    border-color: var(--global-lm-color-1);
    border-style: solid;
}


header {
    background-color: var(--global-color-2);
    border-color: var(--global-color-3);
    border-style: solid;
}



h2 {
    background-color: var(--global-color-2);
    border-color: var(--global-color-3);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    margin: auto;
    text-align: center;
}



h1 {
    background: transparent;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    font-size: 50px;
}

h3 {
    font-size: 30px;
}


.about {
    list-style-type: none;
    padding-left: 0px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;

    width: 60%;
}

.logos {
    height: 40px;
    width: 40px;
    background: none;
}

.skills-divs {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    background-color: var(--global-color-2);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}

.skills-divs:hover {
    background-color: #374151;
}

.skills-label{
    background: transparent;
    
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--global-color-2);
    border-color: var(--global-color-3);
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;

}

.navbar {
    background-color: var(--global-color-2); 
    font-family: var(--global-font); 
}

.navbar ul {
    list-style-type: none; 
    background-color: var(--global-color-2);
    margin: 0;
    padding: 0;
}


.navbar li {
    display: inline-block; 
    margin-right: 10px; 
    background-color: var(--global-color-3);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.navbar a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    background-color: var(--global-color-1);
    border-radius: 10px;
}

.navbar a:hover {
    background-color: #4c5f88;
}


.dropdown {
    display: inline-block;
    background-color: var(--global-color-2);
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    width:auto;
    max-width: 100%;
}


.dropdown:hover {
    background-color: #374151;
}
.button-40 {
  background-color: var(--global-color-2);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: var(--global-font-color);
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  border-color: var(--global-font-color);
  border-style: solid;
  margin: auto;
}

.button-play {
    background-color: var(--global-color-2);
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: var(--global-font-color);
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    border-color: var(--global-font-color);
    display: flex;
    margin:auto;
  }

.button-play:hover {
  background-color: #374151;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

.label-style {
    background-color: var(--global-color-2);
    border-radius: 10px;
    padding: 5px;
}

.switchButton {
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
}


.switchButtonRight {
    margin-left: auto;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}


.sawPuppet {
    height: 20px;
    margin-bottom: -5px;
    border-radius: 10px;
    background: none;
}

.instructions {
    background: none;
    list-style-type: none;

}

.trueFalse {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
}

.trueFalse > button {
    margin: 10px;
}


.quiz-box {
    width: 60%;
    margin: auto;
    text-align: center;
}


.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: #ddd;
    color: black;
}

.nav-toggle {
    display: none;
    border-radius: 10px;
    padding: 5px;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    .nav-list {
        display: none;
        width: 100%;
    }

    .nav-list.show {
        display: block;
        width: auto;
        max-width: 50%;
        font-size: 15px;
    }

    .nav-list li {
        float: none;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .nav-list li a {
        text-align: left;
    }

    .nav-toggle {
        display: block;
        margin-top: 5px;
    }



    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }
}

